.container {
    padding: 5px 5px;
  }

.box {
    border: 1px solid rgb(185, 185, 187);
    height: auto;
    width: 100%;
  }
  
.form-element {
    padding: 0.1px 5px;
    width: 100%;
  }

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.6em 0px !important;}
::ng-deep .mat-form-field-subscript-wrapper {
  font-size: 65%;
  margin-top: 0.2em;
  top: calc(100% - 2em);
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.7em) scale(.75);
    width: 100%;
}

.mat-form-field {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: normal;
}