.form-table-body{
  padding: 0px 2px;
  font-size: 12px;
}

/* SERGIO */

.button-element{
  text-align: center;
}

.button-simple{
  padding: 2px 2px;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table-title{
  padding: 2px 2px;
  font-size: 14px;
  text-align: center;
  background-color: #7bb3cf;
  color: white;
}

.table-head-columns{
  padding: 2px 2px;
  font-size: 12px;
  text-align: left;
  background-color: #f4f8fa;
}

.table-head-acctions{
  padding: 2px 2px;
  font-size: 12px;
  text-align: center;
  background-color: #f4f8fa;
}

.mat-divider-field {
  border-top-color: rgb(3, 3, 3);
}

