.container {
  padding: 5px 10px;
}
table {
  width: 100%;
}
.form-element {
  width: 100%;
}

.form-table-head{
  padding: 10px 2px;
  font-size: 12px;
  text-align: left; 
  background-color: #f4f8fa;
}

.form-table-body{
  padding: 2px 2px;
  font-size: 12px;
}

.box {
  border: 1px solid rgb(185, 185, 187);
  height: auto;
  width: 100%;
}