<div class="container">
  <!-- CABECERA DE REGISTROS -->
  <div fxLayout="row wrap">
    <div fxFlex="20">
    </div>
    <!-- TITULO CABECERA DE REGISTROS -->
    <div style="text-align: center; padding-top: 10px;" fxFlex="60">
      <b>LISTADO DE REGISTROS</b>
    </div>
    <!-- ***FIN*** TITULO CABECERA DE REGISTROS -->
    <!-- BOTONES DE OPCIONES-->
    <div fxFlex="20" style="text-align: right; ">
      <!-- BOTON MENU -->
      <button  mat-button color="primary" class="example-icon" [matMenuTriggerFor]="menuOpciones" #menuTrigger="matMenuTrigger" >
        <mat-icon>download</mat-icon>
        <span fxShow="true" fxHide.lt-md>Reportes</span> 
      </button>
        <!-- BOTONES DEL MENU DESPLEGABLE -->
        <mat-menu #menuOpciones="matMenu" overlapTrigger="false" (mouseleave)="menuTrigger.closeMenu()">
          <span (mouseleave)="menuTrigger.closeMenu()">
            <button mat-menu-item matTooltip="Descargar Reporte CSV"><mat-icon>article</mat-icon>CSV</button>
            <button mat-menu-item matTooltip="Descargar Reporte PDF"><mat-icon>picture_as_pdf</mat-icon>PDF</button>
          </span>
        </mat-menu>
        <!-- **FIN** BOTONES DEL MENU DESPLEGABLE-->
      <!-- **FIN**  BOTON MENU-->
    </div>
    <!-- ***FIN*** BOTONES DE OPCIONES -->
  </div>
  <!-- ***FIN*** CABECERA DE REGISTROS -->
  <!-- TABLA DE REGISTROS -->
  <div *ngIf="this.data.length>0" >
    <!-- CABECERA DE LA TABLA -->
    <div  class="form-table-head" fxLayout="row wrap" fxShow="false" fxShow.gt-sm matSort  (matSortChange)="sortData($event)" [matSortActive]="this.sort" [matSortDirection]="this.order" matSortDisableClear>
      <!-- NOMBRES DE COLUMNAS -->
      <div   *ngFor="let column of model.columns"  [mat-sort-header]="column.name" [fxFlex]="column.width">
        <span style="text-align: left;"> {{column.label}}</span>
      </div>
      <!-- ***FIN*** NOMBRES DE COLUMNAS -->
      <!-- COLUMNA ACCIONES -->
      <div style="text-align: center;"  fxFlex="20">
        Acciones
      </div>
      <!-- ***FIN*** COLUMNA ACCIONES -->
    </div>
    <!-- ***FIN*** CABECERA DE LA TABLA -->
    
    <!-- DATA DE LA TABLA -->
    <div  fxLayout="row wrap" *ngFor="let row of this.data">
      <!-- FILAS DE LA TABLA -->
      <div style="padding-top: 12px;" class="form-table-body" *ngFor="let column of model.columns"   fxShow="false" fxShow.gt-sm [fxFlex.gt-sm]="column.width">
          <span >{{row[column.name]}}</span>
      </div>
      <!-- ***FIN*** FILAS DE LA TABLA -->
      
      <div class="form-table-body box" fxShow="false" fxShow.lt-md fxFlex="80">
        <div fxLayout="row wrap" *ngFor="let column of model.columns">
          <div   fxFlex="50">
            <span style="text-align: left;">{{column.label}}</span> 
          </div>
          <div   fxFlex="50">
            <span style="text-align: left;">: {{row[column.name]}}</span> 
          </div>
        </div>
      </div>

      <!-- FILA DE ACCIONES -->
      <div fxLayout="row wrap" class="form-table-body" fxFlex="20" >
          <div  style="text-align: center;" *ngFor="let button of model.buttonsTable"  fxFlex.lt-md="100" fxFlex="50">
            <button mat-button color="primary"    (click)="selectRow(button.name,row)">
              <mat-icon>{{button.icon}}</mat-icon>
              <span  fxShow="true" fxHide.md fxHide.xs>{{button.label}}</span> 
            </button>
          </div>
      </div>
      <div><mat-divider></mat-divider></div>
      <!-- ***FIN*** FILA DE ACCIONES -->
    </div>
    <!-- ***FIN*** DATA DE LA TABLA -->
    <!-- PAGINACION DE LA TABLA -->
    <div><mat-divider></mat-divider></div>
    <mat-paginator [length]="model.count" [pageSize]="page.size" [pageIndex]="page.index" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pagChange($event)"></mat-paginator>
    <!-- ***FIN*** PAGINACION DE LA TABLA -->
  </div>
  <!-- ***FIN*** TABLA DE REGISTROS -->
  <!-- TABLA SIN DATOS -->
  <div *ngIf="this.data.length==0">
    <div><mat-divider></mat-divider></div>
    <div style="text-align: left; padding: 10px 10px;" >
      <mat-card-subtitle >**No se encontraron registros**</mat-card-subtitle>
    </div>
  </div>
  <!-- ***FIN*** TABLA SIN DATOS -->
</div>