.container {
    padding: 5px 10px;
  }

  .mat-button-toggle {

    padding: 0 5px !important;
    z-index: 1 !important;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
    
  .mat-button-toggle-checked {
    border: 1px #c0bfbf solid !important;
    border-radius: 5px !important;
    background-color: green !important;
    color:white;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .mat-button-toggle:hover {
    background-color: #4CAF50; /* Green */
    border-radius: 5px !important;
    color: white;
  }
