<!-- HEADER -->
  <div fxLayout="row wrap">
    <div>
      <img src="assets/images/logo-aps.png" alt="homepage" class="light-logo">
    </div>
    <span fxFlex></span>
    <button mat-icon-button color="warn" matDialogClose="cancel" matTooltip="Salir" (click)="close('close')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
<!--FIN DEL HEADER -->

<!-- DATOS DEL FUNCIONARIO/DIRECTIVO -->
<div mat-dialog-header> 
  <!--TITULO DE FICHA DE REGISTRO FUNCIONARIO/DIRECTIVO -->
  <div fxLayout="row wrap">
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    </div>
    <div fxFlex.gt-lg="60" fxFlex.gt-md="60"  fxFlex.gt-xs="100" fxFlex="100">
      <h2 mat-dialog-title class="head-dialog" style="text-align: center;">FICHA DE REGISTRO FUNCIONARIO/DIRECTIVO</h2>
    </div>
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    </div>
  </div>
  <!--FIN TITULO DE FICHA DE REGISTRO FUNCIONARIO/DIRECTIVO -->
  
  <!-- DATOS DE LA PERSONA -->
  <div >
    <!-- SUBTITULO DATOS DE LA PERSONA -->
    <mat-card-subtitle>DATOS DE LA PERSONA</mat-card-subtitle>
    <!-- FIN SUBTITULO DATOS DE LA PERSONA -->

    <!-- TABLA DE DATOS PERSONA SELECCIONADA -->
      <!-- CABECERAS DE LA TABLA -->
        <div fxLayout="row wrap">
          <div   class="form-table-head" *ngFor="let config of columnsSelect"  [fxFlex.gt-lg]="config.width" [fxFlex.gt-md]="config.width" fxFlex.gt-xs="100" fxFlex="100">
          {{config.label}}
          </div>
        </div>
      
      <!-- DATA DE LA TABLA -->
        <div fxLayout="row wrap">
          <div class="form-table-body"  *ngFor="let column of columnsSelect" [fxFlex.gt-lg]="column.width" [fxFlex.gt-md]="column.width"  fxFlex.gt-xs="100" fxFlex="100">
            <div class="form-table-body" >
              {{this.data.data[column.name]}}
            </div>
          </div>
        </div>
    <!-- FIN TABLA de DATOS PERSONA SELECCIONADA -->
  </div>
  <!-- FIN DATOS DEL PERSONA -->

  <!-- DATOS DEL CARGO DUNCIONARIO/DIRECTIVO -->
  <div >
    <!-- SUBTITULO DATOS DEL CARGO DUNCIONARIO/DIRECTIVO -->
    <mat-card-subtitle>DATOS DEL CARGO</mat-card-subtitle>
    <!-- FIN SUBTITULO DATOS DEL CARGO DUNCIONARIO/DIRECTIVO -->

    <!-- TABLA DEDATOS DEL CARGO DUNCIONARIO/DIRECTIVO -->
      <!-- CABECERAS DE LA TABLA -->
        <div fxLayout="row wrap">
          <div   class="form-table-head" *ngFor="let config of columnsFuncionarioSelect"  [fxFlex.gt-lg]="config.width" [fxFlex.gt-md]="config.width" fxFlex.gt-xs="100" fxFlex="100">
          {{config.label}}
          </div>
        </div>
      <!-- DATA DE LA TABLA -->
        <div fxLayout="row wrap">
          <div class="form-table-body"  *ngFor="let column of columnsFuncionarioSelect" [fxFlex.gt-lg]="column.width" [fxFlex.gt-md]="column.width"  fxFlex.gt-xs="100" fxFlex="100">
            <div class="form-table-body" >
              {{this.data.data[column.name]}}
            </div>
          </div>
        </div>
    <!-- FIN TABLA DEDATOS DEL CARGO DUNCIONARIO/DIRECTIVO -->
  </div>
  <!-- FIN DATOS DEL CARGO DUNCIONARIO/DIRECTIVO -->
</div>
<!--FIN DATOS DEL FUNCIONARIO/DIRECTIVO  -->

<!-- FORMULARIO DE REGISTRO BAJA -->
<div mat-dialog-content> <!-- instead of your <div>  or use <div mat-dialog-content> -->
  <!--TITULO DE FORMULARIO DE REGISTRO BAJA -->
  <div fxLayout="row wrap">
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    </div>
    <div fxFlex.gt-lg="60" fxFlex.gt-md="60"  fxFlex.gt-xs="100" fxFlex="100">
      <h2 mat-dialog-title class="head-dialog" style="text-align: center;">FORMULARIO DE REGISTRO BAJA</h2>
    </div>
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    </div>
  </div>
  <!--FIN TITULO FORMULARIO DE REGISTRO BAJA -->

  <!-- DATOS FORMULARIO DE REGISTRO BAJA -->
  <div fxLayout="row wrap">
    <!----------------------- FILA 1 ----------------------------->
      <!-- CAUSAL DE LA BAJA -->
        <div fxFlex.gt-lg="60" fxFlex.gt-md="60"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Causal de Baja</mat-label>
              <mat-select formControlName="categoriaBaja">
                <mat-option class="multiline-mat-option" *ngFor="let option of this.optionsBaja" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>

      <!-- FECHA -->
        <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="fechaBaja" readonly>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
        </div>

      <!-- NUMERO DE LA BAJA -->
        <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label> Documento de Respaldo </mat-label>
              <input  matInput formControlName="nroBaja">
            </mat-form-field>
          </form>
        </div>
    <!----------------------- FINFILA 1 ----------------------------->

    <!----------------------- FILA 2 ----------------------------->
      <!-- COMENTARIOS -->
        <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100" >
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline"  >
              <mat-label>Comentario</mat-label>
              <input  matInput formControlName="comentarios" maxlength = "2000" >
            </mat-form-field>
          </form>
        </div>
    <!---------------------- FIN FILA 2 ------------------------->
  </div>
  <!-- FIN DATOS FORMULARIO DE REGISTRO BAJA -->
</div>
<!--FIN FORMULARIO DE REGISTRO BAJA -->

<!-- ACTIONS -->
<div mat-dialog-actions fxLayout="row wrap"   >
  <div fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
  </div>
  <!-- BOTON DE GUARDAR REGISTRO BAJA -->
  <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" >
      <div class="form-element" >
        <button mat-raised-button color="primary" type="submit" class="form-element" matTooltip="Registrar" [disabled]="formGroup.invalid">
          <mat-icon>save</mat-icon>
          Guardar
        </button>
      </div>
    </form>
  </div>
  <!-- FIN BOTON DE GUARDAR REGISTRO BAJA -->
</div>
