<div  fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card class="card">
    <!--TITULO DE REGISTRO FUNCIONARIO/DIRECTIVO -->
    <mat-card-header>
      <img mat-card-avatar src="assets/images/img/documentos1.jpg" class="header-image"/>
      <mat-card-title>{{this.model.cardTitle}}</mat-card-title>
      <span fxFlex></span>
    </mat-card-header>
    <!--FIN TITULO DE REGISTRO FUNCIONARIO/DIRECTIVO -->

    <div><mat-divider></mat-divider></div>

    <!--BUSQUEDA AVANZADA-->
      <div  fxLayout="row wrap" style="padding: 10px 5px;">
        <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100" >
            <div fxLayout="row wrap" >
              <div class="form-element">
                <mat-card-subtitle>Buscar Categoria...</mat-card-subtitle>
              </div>
              <span fxFlex></span>
              <!-- TIPO DE EMPRESA -->
              <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="50" fxFlex="50">
                <form  [formGroup]="formGroup" >
                <mat-form-field class="form-search" appearance="outline" >
                    <mat-label>Categorias</mat-label>
                    <mat-select formControlName="tipoCategoria">
                      <mat-option *ngFor="let option of this.model.dataOptions['optionsCategorias']" [value]="option.value">{{option.label}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
              </div>

              <div style="text-align: center; padding-top: 5px;" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
                <button mat-button class="form-search" color="primary" (click)="setForm()">
                  <mat-icon>autorenew</mat-icon>
                  Limpiar
                </button>
              </div>

            </div>
        </div>
      </div>
    <!-- FIN BUSQUEDA AVANZADA -->

    <div><mat-divider></mat-divider></div>

    <div fxLayout="row wrap">
      <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
      </div>
      <div style="text-align: center; padding-top: 10px;" fxFlex.gt-lg="60" fxFlex.gt-md="60"  fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-subtitle >REGISTROS DE FUNCIONARIOS</mat-card-subtitle>
      </div>
      <div style="text-align: center;" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="50" fxFlex="50">
        <button mat-button class="form-search" color="primary" (click)="insertRow()">
          <mat-icon>add</mat-icon>
          Nuevo Registro
        </button>
      </div>
      <div style="text-align: center;;" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="50" fxFlex="50">
        <button mat-button class="form-search" color="primary" (click)="setForm()">
          <mat-icon>menu</mat-icon>
          Opciones
        </button>
      </div>
    </div>
    <!-- CABECERAS DE LA TABLA -->
      <div fxLayout="row wrap" matSort (matSortChange)="sortData($event)" [matSortActive]="this.sort" [matSortDirection]="this.order" matSortDisableClear>
        <div   class="form-table-head" *ngFor="let config of this.model.columns" [mat-sort-header]="config.name" [fxFlex.gt-lg]="config.width" [fxFlex.gt-md]="config.width" fxFlex.gt-xs="none" fxFlex=none>
        {{config.label}}
        </div>
        <div style="text-align: center;"  class="form-table-head" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          Acciones
        </div>
      </div>
    <!-- FIN CABECERAS DE LA TABLA -->

    <!-- DATA DE LA TABLA -->
      <div fxLayout="row wrap" *ngFor="let config of this.model.data">
      <div class="form-table-body"  *ngFor="let column of this.model.columns" [fxFlex.gt-lg]="column.width" [fxFlex.gt-md]="column.width"  fxFlex.gt-xs="60" fxFlex="60">
        <div class="form-table-body" >
          {{config[column.name]}}
        </div>
      </div>
      <div style="text-align: center;"  fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="20" fxFlex="20">
        <button mat-button color="primary" class="form-table-body" (click)="updateRow(config)"><mat-icon>edit</mat-icon>Editar</button>
      </div>
      <div style="text-align: center;"  fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="20" fxFlex="20">
        <button mat-button color="warn" class="form-table-body" (click)="deleteRow(config)"><mat-icon>close</mat-icon>Eliminar</button>
      </div>
      <mat-divider></mat-divider>
      </div>
    <!-- FIN DATA DE LA TABLA -->

    <!-- PAGINACION DE LA TABLA -->
      <div >
        <mat-paginator [length]="this.model.count" [pageSize]="page.size" [pageIndex]="page.index" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="dataTableUpdate($event)"></mat-paginator>
      </div>
    <!-- FIN PAGINACION DE LA TABLA -->

    </mat-card>
  </div>
</div>
