<!-- HEADER -->
<div fxLayout="row wrap">
  <div>
    <img src="assets/images/logo-aps.png" alt="homepage" class="light-logo">
  </div>
  <span fxFlex></span>
  <button mat-icon-button color="warn" matDialogClose="cancel" matTooltip="Salir" (click)="close('close')">
    <mat-icon>close</mat-icon>
  </button>
</div>
<!--FIN DEL HEADER -->

<!-- FORMULARIO DE ADICIONAR NUEVA PERSONA -->
<div mat-dialog-content >
<!--BOTONES PARA BUSCAR O ADICIONAR PERSONA -->
  <div fxLayout="row wrap">
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    </div>
    <div fxFlex.gt-lg="60" fxFlex.gt-md="60"  fxFlex.gt-xs="100" fxFlex="100">
      <h2 mat-dialog-title class="head-dialog" style="text-align: center;">REGISTRAR PERSONA NATURAL</h2>
    </div>
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
      <button style="text-align: right;" mat-button color="primary" type="submit" class="form-element" matTooltip="Registrar" (click)="this.nuevo=!this.nuevo" >
        <mat-icon>search</mat-icon>
        Buscar Persona...
      </button>
    </div>
  </div>
  <!--FIN BOTONES PARA BUSCAR O ADICIONAR PERSONA -->

  <!-- FORMULARIO PERSONA NUEVO -->
  <div fxLayout="row wrap" >
    <!-- SUB TITULO -->
      <div class="form-element">
        <mat-card-subtitle>Datos de la persona </mat-card-subtitle>
      </div>
      <span fxFlex></span>
    <!----------------------- FILA 1 ----------------------------->
      <!-- PRIMER NOMBRE -->
      <div fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="50" fxFlex="50">
        <form  [formGroup]="formGroupPersona" >
          <mat-form-field class="form-element" appearance="outline">
            <mat-label>Nombres</mat-label>
            <input  matInput formControlName="nombres"  maxlength = "50">
          </mat-form-field>
        </form>
      </div>

      <!-- PRIMER APELLIDO -->
      <div fxFlex.gt-lg="25" fxFlex.gt-md="25"  fxFlex.gt-xs="50" fxFlex="50">
        <form  [formGroup]="formGroupPersona" >
          <mat-form-field class="form-element" appearance="outline">
            <mat-label>Primer Apellido</mat-label>
            <input  matInput formControlName="primerApellido"  maxlength = "50">
          </mat-form-field>
        </form>
      </div>

      <!-- SEGUNDO APELLIDO -->
      <div fxFlex.gt-lg="25" fxFlex.gt-md="25"  fxFlex.gt-xs="50"fxFlex="50">
        <form  [formGroup]="formGroupPersona" >
          <mat-form-field class="form-element" appearance="outline">
            <mat-label>Segundo Apellido</mat-label>
            <input  matInput formControlName="segundoApellido"  maxlength = "50">
          </mat-form-field>
        </form>
      </div>
      <!-- SEGUNDO NOMBRE -->
      <div *ngIf="!this.showApellidoCasada" fxFlex.gt-lg="15" fxFlex.gt-md="15"  fxFlex.gt-xs="80"fxFlex="80">
        <div class="form-element">
          Apellido de Casada
        </div>
      </div>
      <div *ngIf="this.showApellidoCasada" fxFlex.gt-lg="15" fxFlex.gt-md="15"  fxFlex.gt-xs="80"fxFlex="80">
        <form  [formGroup]="formGroupPersona" >
          <mat-form-field class="form-element" appearance="outline">
            <mat-label>Apellido de Casada</mat-label>
            <input  matInput formControlName="apellidoCasada"  maxlength = "50">
          </mat-form-field>
        </form>
      </div>
      <!---------------------- FIN FILA 1 ------------------------->

    <!---------------------- FILA 2 ----------------------------->
      <!-- TIPO DE IDENTIFICACION -->
      <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100"fxFlex="100">
        <form  [formGroup]="formGroupPersona" >
          <mat-form-field class="form-element" appearance="outline" >
            <mat-label>Tipo de Documento</mat-label>
            <mat-select formControlName="tipoIdentificacion">
              <mat-option *ngFor="let option of this.dataOptions.tipoDocumentoIdentificacion" [value]="option.value">{{option.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>

      <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100"fxFlex="100">
        <form  [formGroup]="formGroupPersona" >
          <mat-form-field class="form-element" appearance="outline" >
            <mat-label>Pais De origen</mat-label>
            <mat-select formControlName="pais">
              <mat-option *ngFor="let option of this.listPaises" [value]="option.value">{{option.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <!-- NRO de IDENTIFICACION -->
      <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
        <form  [formGroup]="formGroupPersona" >
          <mat-form-field class="form-element" appearance="outline">
            <mat-label>Nro de Identificación</mat-label>
            <input  matInput formControlName="nroIdentificacion"  maxlength = "50">
          </mat-form-field>
        </form>
      </div>

      <!-- FECHA DE REGISTRO -->
      <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
        <form  [formGroup]="formGroupPersona" >
          <mat-form-field  class="form-element"  appearance="outline" >
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="pickerNotificacion" [max]="mayorEdad" (click)="pickerNotificacion.open()" formControlName="fechaNacimiento" readonly>
            <mat-datepicker #pickerNotificacion></mat-datepicker>
          </mat-form-field>
        </form>
      </div>
      <!-- EMAIL -->
      <div fxFlex.gt-lg="40" fxFlex.gt-md="40"  fxFlex.gt-xs="100" fxFlex="100">
        <form  [formGroup]="formGroupPersona" >
          <mat-form-field class="form-element" appearance="outline">
            <mat-label>Email</mat-label>
            <input  matInput formControlName="email"  maxlength = "100">
          </mat-form-field>
        </form>
      </div>

    <!---------------------- FIN FILA 2 ------------------------->
    <!---------------------- FILA 3 ------------------------->
      <!-- TELEFONO/CELULAR -->
      <div fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="100"fxFlex="100">
        <form  [formGroup]="formGroupPersona" >
          <mat-form-field class="form-element" appearance="outline">
            <mat-label>Teléfono/Celular</mat-label>
            <input  matInput formControlName="telefono"  maxlength = "10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
          </mat-form-field>
        </form>
      </div>
      <!-- DIRECCION -->
      <div fxFlex.gt-lg="70" fxFlex.gt-md="70"  fxFlex.gt-xs="100" fxFlex="100">
        <form  [formGroup]="formGroupPersona" >
          <mat-form-field class="form-element" appearance="outline">
            <mat-label>Dirección</mat-label>
            <input  matInput formControlName="direccion"  maxlength = "250">
          </mat-form-field>
        </form>
      </div>
    <!---------------------- FIN FILA 3 ------------------------->
  </div>
</div>
<!--FIN FORMULARIO DE ADICIONAR NUEVA PERSONA -->

<!-- FORMULARIO DE REGISTRO DE NUEVOS FUNCIONARIO -->
<div mat-dialog-content>
  <!-- SUBTITULO FORMULARIO -->
  <mat-card-subtitle>DATOS DEL REGISTRO</mat-card-subtitle>
  <!-- FIN SUBTITULO FORMULARIO -->

  <!-- FORMULARIO CREAR NUEVO REGISTRO-->
  <div fxLayout="row wrap" >
    <!---------------------- FILA 1 ----------------------------->
      <!-- TIPO DE CARGO -->
      <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Niveles</mat-label>
              <mat-select formControlName="tipoCargo">
                <mat-option *ngFor="let option of this.dataOptions.nivel_cargo" [value]="option.value">{{option.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
      </div>
      <!-- TIPO DE DIRECTIVO -->
      <div *ngIf="this.isDirectivo" fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Tipo de Directivo</mat-label>
              <mat-select formControlName="tipoDirectivo">
                <mat-option *ngFor="let option of this.dataOptions.tipoDirectivo" [value]="option.value">{{option.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
      </div>
      <!-- TIPO DE FUNCIONARIO -->
      <div *ngIf="this.isFuncionario" fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Tipo de Funcionario</mat-label>
              <mat-select formControlName="tipoFuncionario">
                <mat-option *ngFor="let option of this.dataOptions.tipoFuncionario" [value]="option.value">{{option.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
      </div>
      <!-- TIPO DE CONTRATO -->
      <div *ngIf="this.isFuncionario" fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Tipo de Contrato</mat-label>
              <mat-select formControlName="tipoContrato">
                <mat-option *ngFor="let option of this.dataOptions.tipoContrato" [value]="option.value">{{option.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
      </div>
      <!-- NOMBRE DEL CARGO -->
      <div fxFlex.gt-lg="40" fxFlex.gt-md="40"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Cargo</mat-label>
              <input  matInput formControlName="cargo"  maxlength = "100">
            </mat-form-field>
          </form>
      </div>
    <!---------------------- FIN FILA 1 ----------------------------->

    <!---------------------- FILA 2 ----------------------------->
      <!-- FECHA DE INGRRSO -->
      <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Fecha de Ingreso</mat-label>
              <input matInput [matDatepicker]="picker" [max]="dateToday" (click)="picker.open()" formControlName="fechaIngreso" readonly>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
      </div>
      <!-- CIUDAD -->
      <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Estado/Departamento</mat-label>
              <mat-select formControlName="estadoDepartamento">
                <mat-option *ngFor="let option of this.listEstadosDepartamentos" [value]="option.value">{{option.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
      </div>

      <!-- CIUDAD -->
      <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Ciudad / Municipio</mat-label>
              <mat-select formControlName="ciudadMunicipio">
                <mat-option *ngFor="let option of this.listCiudadesMunicipios" [value]="option.value">{{option.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
      </div>
      <!-- NRO DE CONTRATO -->
      <div fxFlex.gt-lg="40" fxFlex.gt-md="40"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Nro. de Contrato </mat-label>
              <input  matInput formControlName="nroContrato" maxlength = "250">
            </mat-form-field>
          </form>
      </div>
      <!-- REPRESENTACION LEGAL -->
      <div  fxFlex.gt-lg="15" fxFlex.gt-md="15"  fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-subtitle style="text-align: center;">Representación legal</mat-card-subtitle>
      </div>
      <div fxFlex.gt-lg="5" fxFlex.gt-md="5"  fxFlex.gt-xs="100" fxFlex="100">
          <mat-slide-toggle style="text-align: center;" class="form-element" [(ngModel)]="representacionLegal" ></mat-slide-toggle>
      </div>
    <!---------------------- FIN FILA 2 ------------------------->

    <!---------------------- FILA 3 ----------------------------->
    <!-- CODIGO COLEGIATURA -->
      <div *ngIf="this.representacionLegal" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Registro de Colegiatura </mat-label>
              <input  matInput formControlName="codColegiatura" maxlength = "250">
            </mat-form-field>
          </form>
      </div>
    <!-- TIPO DE APODERADO -->
      <div *ngIf="this.representacionLegal" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Tipo de Representacion Legal</mat-label>
              <mat-select formControlName="tipoApoderado">
                <mat-option *ngFor="let option of this.dataOptions.tipoApoderado" [value]="option.value">{{option.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
      </div>
      <!-- DOCUMENTO REPRESNTACION LEGAL -->
      <div *ngIf="this.representacionLegal" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Documento representación legal</mat-label>
              <input  matInput formControlName="nroRepresentacionLegal"  maxlength = "100">
            </mat-form-field>
          </form>
      </div>
      <!-- FECHA INICIO REPRESENTACION LEGAL -->
      <div *ngIf="this.representacionLegal" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Fecha de Inicio de Representación Legal</mat-label>
              <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="fechaInicioRepresentacionLegal" readonly>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
      </div>
      <!-- FECHA FIN REPRESENTACION LEGAL -->
      <div *ngIf="this.representacionLegal" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroupFuncionario" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Fecha de Fin de Representación Legal</mat-label>
              <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="fechaFinRepresentacionLegal" readonly>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
      </div>
    <!---------------------- FIN FILA 2 ------------------------->
  </div>
  <!-- FIN FORMULARIO CREAR NUEVO REGISTRO -->
   
</div>
<!-- FIN FORMULARIO DE REGISTRO DE NUEVOS FUNCIONARIO -->

<!-- ACTIONS -->
<div mat-dialog-actions fxLayout="row wrap"   >

  <div fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
  </div>

  <!-- BOTON REGISTRAR NUEVO PERSONA NATURAL-->
  <div *ngIf="this.nuevo" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    <form [formGroup]="formGroupPersona" (ngSubmit)="onSubmitPersonas(formGroupPersona.value)" >
      <div class="form-element" >
        <button mat-raised-button color="primary" type="submit" class="form-element" matTooltip="Registrar" [disabled]="formGroupPersona.invalid"><mat-icon>save</mat-icon> Guardar Persona</button>
      </div>
      <div class="form-element" >
      </div>
    </form>
  </div>
  <!-- FIN BOTON REGISTRAR NUEVO PERSONA NATURAL-->

  <!-- BOTON REGISTRAR ACEPTAR DATOS DEL USUARIO -->
  <div *ngIf="!this.observaciones&&this.dataSelect.length>0&&this.seleccionado" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    <div class="form-element" >
      <button mat-raised-button color="primary" class="form-element" matTooltip="Registrar" (click)="this.observaciones=!this.observaciones" ><mat-icon>done</mat-icon> Registrar Cargo</button>
    </div>
  </div>
  <!-- FIN BOTON REGISTRAR ACEPTAR DATOS DEL USUARIO -->

  <!-- BOTON REGISTRAR NUEVO FUNCIONARIO/DIRECTIVO -->
  <div *ngIf="this.observaciones&&this.seleccionado" fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    <form [formGroup]="formGroupFuncionario" (ngSubmit)="onSubmit(formGroupFuncionario.value)" >
      <div class="form-element" >
        <button mat-raised-button color="primary" type="submit" class="form-element" matTooltip="Registrar" [disabled]="formGroupFuncionario.invalid"><mat-icon>save</mat-icon> Guardar</button>
      </div>
      <div class="form-element" >
      </div>
    </form>
  </div>
  <!-- FIN BOTON REGISTRAR NUEVO FUNCIONARIO/DIRECTIVO-->
</div>
<!-- FIN DE ACTIONS-->
