<!-- HEADER -->
<div fxLayout="row wrap">
  <div>
    <img src="assets/images/logo-aps.png" alt="homepage" class="light-logo">
  </div>
  <span fxFlex></span>
  <button mat-icon-button color="warn" matDialogClose="cancel" matTooltip="Salir" (click)="close('close')">
    <mat-icon>close</mat-icon>
  </button>
</div>
<!--FIN DEL HEADER -->
  <h2 mat-dialog-title class="head-dialog" style="text-align: center;">FICHA DE REGISTRO DE EMPRESAS</h2>
<!--FIN DEL HEADER -->
<!-- BODY -->
<div mat-dialog-content> <!-- instead of your <div>  or use <div mat-dialog-content> -->
  <!-- FORMULARIO -->
    <!-- FORMULARIO PERSONA NUEVO -->
    <div fxLayout="row wrap" >
      <!-- SUB TITULO -->
        <div class="form-element">
          <mat-card-subtitle>Datos de la persona </mat-card-subtitle>
        </div>
        <span fxFlex></span>
      <!----------------------- FILA 1 ----------------------------->
        <!-- PRIMER NOMBRE -->
        <div fxFlex.gt-lg="30" fxFlex.gt-md="30"  fxFlex.gt-xs="50" fxFlex="50">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Nombres</mat-label>
              <input  matInput formControlName="nombres"  maxlength = "50">
            </mat-form-field>
          </form>
        </div>

        <!-- PRIMER APELLIDO -->
        <div fxFlex.gt-lg="25" fxFlex.gt-md="25"  fxFlex.gt-xs="50" fxFlex="50">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Primer Apellido</mat-label>
              <input  matInput formControlName="primerApellido"  maxlength = "50">
            </mat-form-field>
          </form>
        </div>

        <!-- SEGUNDO APELLIDO -->
        <div fxFlex.gt-lg="25" fxFlex.gt-md="25"  fxFlex.gt-xs="50"fxFlex="50">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Segundo Apellido</mat-label>
              <input  matInput formControlName="segundoApellido"  maxlength = "50">
            </mat-form-field>
          </form>
        </div>
        <!-- SEGUNDO NOMBRE -->
        <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100"fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Apellido de Casada</mat-label>
              <input  matInput formControlName="apellidoCasada"  maxlength = "50">
            </mat-form-field>
          </form>
        </div>
        <!---------------------- FIN FILA 1 ------------------------->

      <!---------------------- FILA 3 ----------------------------->
        <!-- TIPO DE IDENTIFICACION -->
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50"  fxFlex.gt-xs="100"fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Tipo de Documento</mat-label>
              <mat-select formControlName="tipoIdentificacion">
                <mat-option *ngFor="let option of this.dataOptions.tipoDocumentoIdentificacion" [value]="option.value">{{option.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>

        <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100"fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Pais De origen</mat-label>
              <mat-select formControlName="paisOrigen">
                <mat-option *ngFor="let option of this.dataOptions.tipoPais" [value]="option.value">{{option.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>

        <!-- NRO de IDENTIFICACION -->
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Nro de Identificación</mat-label>
              <input  matInput formControlName="nroIdentificacion"  maxlength = "50">
            </mat-form-field>
          </form>
        </div>

        <!-- FECHA DE REGISTRO -->
        <div fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field  class="form-search"  appearance="outline" >
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput [matDatepicker]="pickerNotificacion" (click)="pickerNotificacion.open()" formControlName="fechaNacimiento" readonly>
              <mat-datepicker #pickerNotificacion></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
      <!---------------------- FIN FILA 3 ------------------------->

      <!---------------------- FILA 4 ------------------------->
        <!-- EMAIL -->
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Email</mat-label>
              <input  matInput formControlName="email"  maxlength = "100">
            </mat-form-field>
          </form>
        </div>
        <!-- TELEFONO/CELULAR -->
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50"  fxFlex.gt-xs="100"fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Teléfono/Celular</mat-label>
              <input  matInput formControlName="telefono"  maxlength = "10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
            </mat-form-field>
          </form>
        </div>
      <!---------------------- FIN FILA 4 ------------------------->
      <!---------------------- FILA 5 ------------------------->
        <!-- DIRECCION -->
        <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Dirección</mat-label>
              <input  matInput formControlName="direccion"  maxlength = "250">
            </mat-form-field>
          </form>
        </div>
      <!---------------------- FIN FILA 5 ------------------------->
    </div>
    <!-- FIN DEL  FORMULARIO INSECION -->
  <!-- FIN DEL BODY -->
</div>
<!--FIN DEL BODY -->

<!-- ACTIONS -->
  <div mat-dialog-actions fxLayout="row wrap"   >
    <div fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
    </div>
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" >
        <div class="form-element" >
          <button mat-raised-button color="primary" type="submit" class="form-element" matTooltip="Registrar" [disabled]="formGroup.invalid"><mat-icon>save</mat-icon> Guardar</button>
        </div>
        <div class="form-element" >
        </div>
      </form>
    </div>
  </div>
<!-- FIN DE ACTIONS *ngIf="dataRow.length==0"-->
