<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" style="background: url(assets/images/users/1.jpg) no-repeat;">
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item (click)="onLoggedout()" matTooltip="Salir del Sistema" >
            <mat-icon>exit_to_app</mat-icon> Salir </button>
    </mat-menu>
</div>
<div>

</div>

<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of this.menuItems" routerLinkActive="selected" group="{{menuitem.state}}">
      <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link' && this.authorizationService.isAuthorized(menuitem.role)">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name  }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>

        <a class="" appAccordionToggle [routerLink]="menuitem.state" *ngIf="menuitem.type === 'extLink'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name  }}-{{ menuitem.role }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>
        <a class="" appAccordionToggle [routerLink]="menuitem.state" target="_blank" *ngIf="menuitem.type === 'extTabLink'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>
        <a class="" appAccordionToggle href="javascript:;" *ngIf="menuitem.type === 'sub' && this.authorizationService.isAuthorized(menuitem.role)">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name  }}</span>
            <span fxFlex></span>
            <span class="label label {{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
        </a>
        <mat-nav-list class="sub-item" *ngIf="menuitem.type === 'sub' && this.authorizationService.isAuthorized(menuitem.role)">
            <mat-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="selected">
                <a [routerLink]="['/', menuitem.state, childitem.state ]" class="relative" routerLinkActive="selected" *ngIf="menuitem.state !== ''">{{
                    childitem.name }}</a>
                <a [routerLink]="['/', childitem.state ]" class="relative" routerLinkActive="selected" *ngIf="menuitem.state === ''">{{
                    childitem.name }}</a>
            </mat-list-item>
        </mat-nav-list>
        <div class="saperator text-muted" *ngIf="menuitem.type === 'saperator'">
            <span>{{ menuitem.name }}</span>
        </div>
    </mat-list-item>
</mat-nav-list>
