<!-- HEADER -->
<div fxLayout="row wrap">
  <div>
    <img src="assets/images/logo-aps.png" alt="homepage" class="light-logo">
  </div>
  <span fxFlex></span>
  <button mat-icon-button color="warn" matDialogClose="cancel" matTooltip="Salir" (click)="close('close')">
    <mat-icon>close</mat-icon>
  </button>
</div>
  <!--TITULO DE BUSQUEDA Y BOTON PARA AGREGAR NUEVA PERSONA NATURAL -->
  <div fxLayout="row wrap">
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    </div>
    <div fxFlex.gt-lg="60" fxFlex.gt-md="60"  fxFlex.gt-xs="100" fxFlex="100">
      <h2 mat-dialog-title class="head-dialog" style="text-align: center;">FICHA DE REGISTRO FUNCIONARIO/DIRECTIVO</h2>
    </div>
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    </div>
  </div>
  <!--FIN TITULO DE BUSQUEDA Y BOTON PARA AGREGAR NUEVA PERSONA NATURAL -->
<!--FIN DEL HEADER -->

<!-- DATOS DE LA PERSONA SELECCIONADA -->
<div mat-dialog-content>

  <!-- DATOS DE LA PERSONA -->
  <div  >
    <!-- SUBTITULO FORMULARIO -->
    <mat-card-subtitle>DATOS DE LA PERSONA</mat-card-subtitle>
    <!-- FIN SUBTITULO FORMULARIO -->

    <!-- DATOS PERSONA SELECCIONADA -->
      <!-- CABECERAS DE LA TABLA -->
        <div fxLayout="row wrap">
          <div   class="form-table-head" *ngFor="let config of columnsSelect"  [fxFlex.gt-lg]="config.width" [fxFlex.gt-md]="config.width" fxFlex.gt-xs="100" fxFlex="100">
          {{config.label}}
          </div>
        </div>
      <!-- DATA DE LA TABLA -->
        <div fxLayout="row wrap">
          <div class="form-table-body"  *ngFor="let column of columnsSelect" [fxFlex.gt-lg]="column.width" [fxFlex.gt-md]="column.width"  fxFlex.gt-xs="100" fxFlex="100">
            <div class="form-table-body" >
              {{this.data.data[column.name]}}
            </div>
          </div>
        </div>
  </div>
  <!-- FIN DATOS DE LA PERSONA -->

  <!-- DATOS DE LOS CARGOS -->
  <div  >
    <!-- SUBTITULO FORMULARIO -->
    <mat-card-subtitle>DATOS DE LOS CARGOS</mat-card-subtitle>
    <!-- FIN SUBTITULO FORMULARIO -->

    <!-- DATOS PERSONA SELECCIONADA -->
  <!-- CABECERAS DE LA TABLA -->
    <div fxLayout="row wrap" matSort (matSortChange)="dataTableUpdate($event)" [matSortActive]="this.sort" [matSortDirection]="this.order" matSortDisableClear>
      <div   class="form-table-head" *ngFor="let config of columns" [mat-sort-header]="config.name" [fxFlex.gt-lg]="config.width" [fxFlex.gt-md]="config.width" fxFlex.gt-xs="none" fxFlex=none>
        {{config.label}}
      </div>
      <div style="text-align: center;"  class="form-table-head" fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="100" fxFlex="100">
        Acciones
      </div>
    </div>
  <!-- FIN CABECERAS DE LA TABLA -->

  <!-- DATA DE LA TABLA -->
    <div fxLayout="row wrap" *ngFor="let row of this.cargos.data">
    <div class="form-table-body"  *ngFor="let column of columns" [fxFlex.gt-lg]="column.width" [fxFlex.gt-md]="column.width"  fxFlex.gt-xs="60" fxFlex="60">
      <div class="form-table-body" >
        {{row[column.name]}}
      </div>
    </div>
    <div *ngIf="row['id_registro_baja']>0&&this.idBajaSelect==-1" style="text-align: center;"  fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="20" fxFlex="20">
      <button mat-button color="accent" class="form-table-body" (click)="rowSelect(row)"><mat-icon>expand_circle_down</mat-icon>Ver Baja</button>
    </div>
    <div *ngIf="row['id_registro_baja']==this.idBajaSelect" style="text-align: center;"  fxFlex.gt-lg="10" fxFlex.gt-md="10"  fxFlex.gt-xs="20" fxFlex="20">
      <button mat-button color="warn" class="form-table-body" (click)="this.idBajaSelect=-1"><mat-icon>cancel</mat-icon>Ocultar Baja</button>
    </div>
    <mat-divider></mat-divider>
    </div>
  <!-- FIN DATA DE LA TABLA -->

  <!-- PAGINACION DE LA TABLA -->
    <div >
      <mat-paginator [length]="this.cargos.count" [pageSize]="page.size" [pageIndex]="page.index" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="dataTableUpdate($event)"></mat-paginator>
    </div>
  <!-- FIN PAGINACION DE LA TABLA -->
  </div>
  <!-- FIN DATOS DE LA PERSONA -->

  <!-- DATOS DEL SELECCIONADO -->
  <!-- DATOS DE LA BAJA -->
  <div  *ngIf="this.idBajaSelect!>0">
    <!-- SUBTITULO FORMULARIO -->
    <mat-card-subtitle>DATOS DE LA BAJA</mat-card-subtitle>
    <!-- FIN SUBTITULO FORMULARIO -->

    <!-- DATOS PERSONA SELECCIONADA -->
      <!-- CABECERAS DE LA TABLA -->
        <div fxLayout="row wrap" >
          <div   class="form-table-head" *ngFor="let column of columnsBajaSelect"  [fxFlex.gt-lg]="column.width" [fxFlex.gt-md]="column.width" fxFlex.gt-xs="100" fxFlex="100">
          {{column.label}}
          </div>
        </div>
      <!-- DATA DE LA TABLA -->
        <div fxLayout="row wrap">
          <div class="form-table-body"  *ngFor="let column of columnsBajaSelect" [fxFlex.gt-lg]="column.width" [fxFlex.gt-md]="column.width"  fxFlex.gt-xs="100" fxFlex="100">
            <div class="form-table-body" >
              {{this.bajaSelect[column.name]}}
            </div>
          </div>
        </div>
  </div>
  <!-- FIN DATOS DE LA BAJA -->

  <!-- HECHOS POSTERIORES -->
  <div  *ngIf="this.idBajaSelect!>0" > <!-- instead of your <div>  or use <div mat-dialog-content> -->
    <!-- FORMULARIO -->
      <!-- BODY - DATA DE TABLA NOTIFICACIONES  -->
      <div>
        <!--BOTONES PARA BUSCAR O ADICIONAR PERSONA -->
        <div fxLayout="row wrap">
          <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
            <button style="text-align: left;"  mat-button color="primary" type="submit" class="form-element" matTooltip="Registrar" (click)="this.showHechoPosterior=!this.showHechoPosterior" >
              <mat-icon>preview</mat-icon> 
              Ver Hechos Posteriores
            </button>
          </div>
          <div fxFlex.gt-lg="60" fxFlex.gt-md="60"  fxFlex.gt-xs="100" fxFlex="100">
            <h2 mat-dialog-title class="head-dialog" style="text-align: center;">Hechos Posteriores</h2>
          </div>
          <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
          </div>
        </div>
        <!--FIN BOTONES PARA BUSCAR O ADICIONAR PERSONA -->
        <div *ngIf="this.showHechoPosterior">
          

        <!-- CABECERAS DE LA TABLA -->
        <div  fxLayout="row wrap" >
          <div   class="form-label" *ngFor="let column of columnsHechosPosteriores"  [fxFlex.gt-lg]="column.width" [fxFlex.gt-md]="column.width" fxFlex.gt-xs="100" fxFlex="100">
          {{column.label}}
          </div>
        </div>
      <!-- DATA DE LA TABLA -->
        <div fxLayout="row wrap" *ngFor="let row of this.dataHechosPosteriores">
          <div class="form-table-body"  *ngFor="let column of columnsHechosPosteriores" [fxFlex.gt-lg]="column.width" [fxFlex.gt-md]="column.width"  fxFlex.gt-xs="100" fxFlex="100">
            <div class="form-table-body" >
              {{row[column.name]}}
            </div>
          </div>
        </div>
      </div>
        <!-- FIN DEL BODY -->
      </div>
    <!-- FIN DEL BODY -->
  </div>
  <!-- FIN DATOS DEL SELECCIONADO -->
</div>
<!--FIN DATOS DE LA PERSONA SELECCIONADA -->

<!-- ACTIONS -->
<div mat-dialog-actions fxLayout="row wrap"   >
  <div fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
    <div class="form-element" >
      <button mat-raised-button color="warn" class="form-element" matTooltip="Registrar" (click)="close('close')">
        <mat-icon>close</mat-icon> 
          Salir
      </button>
    </div>
  </div>
</div>
<!-- FIN DE ACTIONS *ngIf="dataRow.length==0"-->
