<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card class="card">

    <!-- TITULO -->
    <app-mat-header-simple></app-mat-header-simple>
    <!-- FIN TITULO -->

    <!-- TOOLBAR -->
    <app-personas-toolbar></app-personas-toolbar>
    <!-- FIN TOOLBAR -->

    <div *ngIf="this.service.conf.optionSelected==='home'">
      <app-personas-home></app-personas-home>
    </div>

    <div *ngIf="this.service.conf.optionSelected==='registros'">
      <app-personas-search></app-personas-search>
      <app-personas-table></app-personas-table>
    </div>

    <div *ngIf="this.service.conf.optionSelected==='nuevo'">
      <app-personas-new></app-personas-new>
    </div>

    <div *ngIf="this.service.conf.optionSelected==='settings'">
      Ajustes
    </div>

    </mat-card>
  </div>
</div>
