<div class="login-register" style="background-color:#FFF;">
  <div class="login-register-box">
      <mat-card>
          <mat-card-content>

              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="text-center">
                  <img alt="homepage" src="assets/images/logo-aps2.png">
                  <h4 class="m-t-0">
                    Cambio de contraseña
                  </h4>
              </div>

              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Nombre de usuario" [formControl]="loginForm.controls['uname']">
                </mat-form-field>
                <div *ngFor="let error of error_messages.uname">
                  <small class="text-danger support-text" *ngIf="loginForm.controls['uname'].hasError(error.type) && (loginForm.controls['uname'].dirty || loginForm.controls['uname'].touched)">
                    {{ error.message }}
                  </small>
                </div>
              </div>

              <div class="form-group">
                <mat-form-field>
                  <input matInput type="password" placeholder="Contraseña actual" [formControl]="loginForm.controls['password']">
                </mat-form-field>
                <div *ngFor="let error of error_messages.password">
                  <small class="text-danger support-text" *ngIf="loginForm.controls['password'].hasError(error.type) && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                    {{ error.message }}
                  </small>
                </div>
              </div>

              <div class="form-group">
                <mat-form-field>
                  <input matInput type="password" placeholder="Nueva Contraseña" [formControl]="loginForm.controls['newPassword']">
                </mat-form-field>
                <div *ngFor="let error of error_messages.newPassword">
                  <small class="text-danger support-text" *ngIf="loginForm.controls['newPassword'].hasError(error.type) && (loginForm.controls['newPassword'].dirty || loginForm.controls['newPassword'].touched)">
                    {{ error.message }}
                  </small>
                </div>
              </div>

              <div class="form-group">
                <mat-form-field>
                  <input matInput type="password" placeholder="Confirmar nueva contraseña" [formControl]="loginForm.controls['confirmPassword']">
                </mat-form-field>
                <div *ngFor="let error of error_messages.confirmPassword">
                  <small class="text-danger support-text" *ngIf="loginForm.controls['confirmPassword'].hasError(error.type) && (loginForm.controls['confirmPassword'].dirty || loginForm.controls['confirmPassword'].touched)">
                    {{ error.message }}
                  </small>

                </div>
              </div>
              <small class="text-danger support-text" *ngIf="newPass!==confPass">
                Las contraseñas no coinciden
              </small>
               <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!loginForm.valid">Actualizar</button>
              </form>

              <div>
                <mat-hint align="end">
                  <button  mat-button color="primary" (click)="goBack()">Atras</button>
                </mat-hint>
              </div>

          </mat-card-content>
      </mat-card>
  </div>
</div>
