<!-- HEADER -->
<div fxLayout="row wrap">
  <div>
    <img src="assets/images/logo-aps.png" alt="homepage" class="light-logo">
  </div>
  <span fxFlex></span>
  <button mat-icon-button color="warn" matDialogClose="cancel" matTooltip="Salir" (click)="close('close')">
    <mat-icon>close</mat-icon>
  </button>
</div>
<!--FIN DEL HEADER -->
  <h2 mat-dialog-title class="head-dialog" style="text-align: center;">FORMULARIO DE REGISTRO DE EMPRESAS</h2>
<!--FIN DEL HEADER -->
<!-- BODY -->
  <div mat-dialog-content> <!-- instead of your <div>  or use <div mat-dialog-content> -->
    <!-- FORMULARIO -->
      <!-- SUBTITULO FORMULARIO -->
        <mat-card-subtitle>DATOS DE EMPRESA</mat-card-subtitle>
      <!-- FIN SUBTITULO FORMULARIO -->
      <!-- FORMULARIO INSECION -->
      <div fxLayout="row wrap">
      <!----------------------- FILA 1 ----------------------------->
        <!-- TIPO DE CODIGO -->
        <div fxFlex.gt-lg="25" fxFlex.gt-md="25"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Codigo </mat-label>
              <input  matInput formControlName="codigo" maxlength = "50">
            </mat-form-field>
          </form>
        </div>
        <!-- CATEGORIA -->
          <div fxFlex.gt-lg="25" fxFlex.gt-md="25"  fxFlex.gt-xs="100" fxFlex="100">
            <form  [formGroup]="formGroup" >
              <mat-form-field class="form-element" appearance="outline" >
                <mat-label>Categoria </mat-label>
                <input  matInput formControlName="categoria" maxlength = "50">
              </mat-form-field>
            </form>
          </div>
        <!-- DESCRIPCION -->
        <div fxFlex.gt-lg="25" fxFlex.gt-md="25"  fxFlex.gt-xs="100" fxFlex="100">
          <form  [formGroup]="formGroup" >
            <mat-form-field class="form-element" appearance="outline" >
              <mat-label>Descripcion </mat-label>
              <input  matInput formControlName="descripcion" maxlength = "250">
            </mat-form-field>
          </form>
        </div>
      <!---------------------- FIN FILA 1 ------------------------->
      </div>
      <!-- FIN DEL  FORMULARIO INSECION -->
    <!-- FIN DEL BODY -->
  </div>
<!--FIN DEL BODY -->

<!-- ACTIONS -->
  <div mat-dialog-actions fxLayout="row wrap"   >
    <div fxFlex.gt-lg="80" fxFlex.gt-md="80"  fxFlex.gt-xs="100" fxFlex="100">
    </div>
    <div fxFlex.gt-lg="20" fxFlex.gt-md="20"  fxFlex.gt-xs="100" fxFlex="100">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" >
        <div class="form-element" >
          <button mat-raised-button color="primary" type="submit" class="form-element" matTooltip="Registrar" [disabled]="formGroup.invalid"><mat-icon>save</mat-icon> Guardar</button>
        </div>
        <div class="form-element" >
        </div>
      </form>
    </div>
  </div>
<!-- FIN DE ACTIONS *ngIf="dataRow.length==0"-->
